/* .App {
  margin: 1rem;
  font-family: Roboto, sans-serif;
  background-color: #006994 ;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
} */

/* .models{
  border: 1px solid #efefef;
  display: flex;
  background-color: white;

  align-items: center;
  padding: 30px 20px;
  width: 90%;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
} */

/* .thumbnail {
  height: 160px;
  width: 240px;
  padding: 10px 20px 0;
  border-bottom: 1px solid #cecece;
} */